{% extends 'base.html' %}
{% load static %}
{% load calc_tool %}
{% block title %}Cart{% endblock %}
{% block content %}
<section class="container text-center bg-fade">
    <div class="container-fluid pb-3">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <hr>
                <h2 class="view-headers mb-4">Shopping Cart</h2>
                <hr>
            </div>
        </div>
        {% if cart_items %}
        <div class="row ">
            <div class="col-12 col-md-8 d-flex justify-content-center">
                <h2 class="cart-header pt-2">Cart Items</h2>
            </div>
            <div class="col-12 col-md-4 cart-total-box d-flex justify-content-center justify-content-md-end pb-4">
                <a href="{% url 'books' %}" class="btn btn-sign-up">
                    <span class="icon">
                        <i class="fas fa-arrow-left fa-md"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>
            <hr>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-8 order-last order-lg-first">
                {% for item in cart_items %}
                <div class="card mb-1 mt-1 p-1 mb-3 box-shadow" style="max-height: 1300px;">
                    <div class="row g-0 bg-white">
                        <div class="col-md-3 ms-md-3 pt-3">
                            {% if item.book.image %}
                            <a href="{% url 'book_view' item.book.id %}">
                                <img class="img-fluid rounded" style="max-width: 130px;" src="{{ item.book.image.url }}"
                                    alt="{{ item.book.title }}">
                            </a>
                            {% else %}
                            <a href="{% url 'book_view' item.book.id %}">
                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ item.book.title }}">
                            </a>
                            {% endif %}
                            <p class="cart-txt-price pt-2"><strong>Price: €{{ item.book.price }}</strong></p>
                        </div>
                        <div class="col-md-8 ">
                            <div class="card-body">
                                <div class="row">
                                    <h2 class="cart-headers">{{ item.book.title }}
                                        {%if item.book.condition == 'used'%}<i class="fa-solid fa-tag fa-beat"
                                            style="color: #fa0000;"></i>{%endif%}</h2>
                                    <h3 class="cart-header-2">By {{ item.book.author }}</h3>
                                </div>
                                <hr>
                                <div class="row container">
                                    <div class="d-flex col-12 justify-content-evenly">
                                        <form class="form update-form" method="POST" id="qty-update"
                                            action="{% url 'update_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="input-group qty_input">
                                                <div class="input-group-prepend pt-2 me-1">
                                                    <button class="take-qty btn-cart" data-item_id="{{ item.item_id }}"
                                                        id="take-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control qty_input" type="number" name="quantity"
                                                    value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append pt-2 ms-1">
                                                    <button class="add-qty btn-cart" data-item_id="{{ item.item_id }}"
                                                        id="add-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-dark pt-2 ms-4"
                                            id="qty-update"><small>Update</small></a>
                                        <a class="remove-item text-danger pt-2 ms-2" id="remove_{{ item.item_id }}"
                                            data-product_size="{{ item.size }}"><small>Remove</small></a>
                                    </div>
                                    <div class="d-flex col-12 justify-content-center pt-2">
                                        <p class="cart-txt pt-2">
                                            <strong>Sub Total:
                                                {% if item.book.condition == 'used' %}
                                                €{{ item.price_used | calc_subtotal_used:item.quantity }}
                                                {% else %}
                                                €{{ item.book.price | calc_subtotal:item.quantity }}
                                                {% endif %}
                                            </strong></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="accordion accordion-flush box-shadow mt-3" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button accordion-btn" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse_{{ item.item_id }}"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                Book Details
                                            </button>
                                        </h2>
                                        <div id="collapse_{{ item.item_id }}" class="accordion-collapse collapse hide"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-12 col-md-6">
                                                        <p class="cart-txt">Category: {{ item.book.category}}</p>
                                                        <p class="cart-txt">Condition: {{ item.book.condition }}</p>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <p class="cart-txt">SKU: {{ item.book.sku|upper }}</p>
                                                        <p class="cart-txt">ISBN-13: {{ item.book.ISBN|upper }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class=" col-12 col-lg-4 order-first p-3 order-lg-last">
                <div class="row p-2 mt-lg-2 box-shadow ms-lg-1">
                    <h3 class="cart-totals pt-4">Number of items in Cart : {{ item_count }}</h3>
                    <h3 class="cart-totals pt-4"><strong>Cart Total : €{{ total|floatformat:2 }}</strong></h3>
                    <h3 class="cart-totals pt-4">Delivery : €{{ delivery|floatformat:2 }}</h3>
                    {% if free_delivery_difference > 0 %}
                    <p class="mb-1 text-danger">
                        Spend <strong>${{ free_delivery_difference }}</strong> more To qualify for free delivery
                    </p>
                    {% endif %}
                    <h4 class="cart-grand-total mt-4"><strong>Final Price Total:
                            €{{ overal_total|floatformat:2 }}</strong></h4>
                    <a href="{% url 'checkout' %}" class="btn btn-account ">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <p class="lead mb-5">Your cart is empty.</p>
        <a href="{% url 'books' %}" class="btn btn-account rounded-0 btn-lg">
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}