@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Yatra+One&family=Zilla+Slab&display=swap');

:root{

    /* Fonts */
    --logo:'Shadows Into Light', serif;
    --nav: 'Zilla Slab', serif;
    --delivery: 'Yatra One', serif;
    --headers: 'Shadows Into Light', serif;
    --txt:'Zilla Slab', serif, arial;


    /* Colours */
    --banners: #000000;
    --banner-txt: #ffffff;
    --nav-hover: #ff0000;
    --nav-bar: #777777;
    --txt-color: #000000;
    --bg-fade: #ffffffc2;
    --side-nav: #ffffff;
    --bg-color: #aaaaaa;;
    --toast-bg: rgba(211, 227, 252, 0.966);
    --btn-color: #8f8888;
    --rating: darkorange;

    /* Button Styling */
    --btn-border-1: #001aff ridge 3px;
    --btn-border-2: #ff0000 ridge 3px ;
    --btn-nav:  #ffffff;
    --sort-btn: #ffffff00;
    --sort-btn-arrow: #ffffff;
    --btn-quantity-shadow: 0px 5px 5px 0px rgba(255, 0, 0, 0.4);
    --btn-quantity-border: 2px solid rgba(255, 0, 0, 0.4);

    /* Box Styling */
    --main-box-shadows: 3px 3px 3px 3px rgba(255, 0, 0, 0.4);
    --sort-items-bax-shadow: 0px 10px 10px 0px rgba(255, 0, 0, 0.4);
}

body{
    background: url(/media/background-image.webp) no-repeat center;
    background-attachment: fixed;
    background-color: var(--bg-color);
}

/* Background transparent screen */

.bg-fade{
    background-color: var(--bg-fade);
}

/* header */

.logo {
    font-family: var(--logo);
    font-size: 2.5rem;
    font-weight: 600;
}

.nav-top{
    position: relative;
}

.nav-bg{
    background-color: var(--nav-bar);
}

.nav-txt{
    color: var(--txt);
    font-family: var(--nav);
    font-size: 1.15rem;
}

.nav-txt:hover{
    color: var(--nav-hover);
}

.nav-btn{
    background-color: var(--btn-nav)
}

.nav-btn:hover{
    background-color: var(--nav-hover);
}

.delivery-banner{
    background-color: var(--banners);
    color: var(--banner-txt);
    font-family: var(--delivery);
    font-size: 1rem;
}

.delivery-text{
    font-size: 1.5rem;

}

.side-nav{
    padding: 1rem;
}

/* footer */

footer{
    background-color: var(--nav-bar);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 2.5rem;
}

footer a{
    padding-top: 10px;
}

footer a:hover{
    background-color: var(--nav-hover);
}

/* Generic */

.line{
    color: var(--txt-color);
}

.headers{
    font-family: var(--headers), sans-serif, Arial;
    font-weight: 600;
    font-size: 4rem;
}

.box-shadow{
    border-radius: 6px;
    box-shadow: var(--main-box-shadows);
}

.qty_input{
    width: 125px;
}

input[name='quantity']:hover {
    box-shadow: var(--btn-quantity-shadow);
    border: var(--btn-quantity-border);
}

.btn-cart{
    border: none;
    text-decoration: none;
}

.btn-cart:hover{
    background-color: var(--nav-hover);
}

.btn-cancel{
    border: var(--btn-border-2);
    background-color: var(--btn-color);
    font-family: var(--txt);
    text-decoration: none;
    color: var(--nav-txt);
    padding: 3px;
}

.btn-cancel:hover{
    border: var(--btn-border-1);
    color: var(--nav-txt);
}

/* home page */

/* Sorting menu */

.sort-btn-arrow{
    border: none;
    text-decoration: none;
}


.sort-btn{
    color: var(--txt-color);
    border: none;
    background-color: var(--sort-btn);
    text-decoration: none;
}

.sort-btn:hover{
    color: var(--nav-hover);
}

.dropsort {
    display: inline-block;
    position: relative;
}

.sort-items {
    display: none;
    position: relative;
    width: 50px;
    background-color: var(--bg-fade);
    overflow: auto;
    border-radius: 6px;
    box-shadow: var(--main-box-shadows)
}
  
.dropsort:hover .sort-items {
    display: block;
}

.sort-items a {
    display: block;
    color: var(--txt-color);
    padding: 2px;
    text-decoration: none;
}

.sort-btn-arrow:hover{
    color: var(--sort-btn-arrow);
    background-color: var(--nav-hover);
}

/* All Products */

.book-bg{
    background-color: var(--bg-color);
}

a.category > span.badge:hover {
    background: var(--nav-bar);
}

.card-img{
    height: 18rem;
    width: 12.5rem;
}

.mob-img-all{
    height: 7rem;
    width: 5rem;
}

.card-details,
.card-title{
    max-width: 12.5rem;
}

.card-title{
    height: 4.75rem;
    text-align: center;
    font-family: var(--txt);
    font-size: 1.1rem;
}

.card-details{
    height: 6.5rem;
    font-family: var(--txt);
}

.rating{
    color: darkorange;
    padding-right: 5px;
}

.mobil-view-txt{
    font-family: var(--txt);
    font-size: 1.2rem;
    padding: 0;
}

/* Product single view*/

.single-img{
    max-width: 10rem;
    max-height: 14rem;
}

.view-headers,
.view-header-2{
font-family: var(--headers)
}

.view-headers{
    font-weight: 400;
    font-size: 3rem;
}

.view-header-2{
    font-weight: 400;
    font-size: 1.5rem;
}

.view-txt{
    font-size: 1.1rem;
    text-align: left;
    color: var(--txt-color);
    font-family: var(--txt);
}

.accordion-button:enabled{
    background-color: var(--btn-color);
    color: var(--txt-color);
    box-shadow: var(--main-box-shadows);
}

.accordion-button:hover{
    color: var(--nav-hover);
    background-color: var(--banners);
    box-shadow: none;
}


/* Product Form */

.btn-add-update{
    border: var(--btn-border-1);
    background-color: var(--btn-color);
    font-family: var(--txt);
}

.book-form-txt{
    font-family: var(--txt);
    font-size: 1.25rem;
}

.btn-add-update:hover{
    border: var(--btn-border-2);
}

.bg-form{
    background-color: var(--bg-color);
    box-shadow: var(--main-box-shadows);
}

.btn-select {
    position: relative;
    overflow: hidden;
    font-family: var(--txt);
    font-size: 1rem;
}

.btn-select input{
    background-color:var(--bg-fade);
    width: 100%;
    min-height: 100%;
}

.btn-select input:hover{
    box-shadow: var(--btn-quantity-shadow);
    border: var(--btn-quantity-border);
}

.edit-header{
    font-size: 2rem;
    font-family: var(--headers);
}

/* Book Management */

.manage-img{
    width: 2.5rem;
    height: 4rem;
}

.manage-txt{
    font-family: var(--txt);
    color: var(--txt-color);
}

.manage-header{
    font-size: 4rem;
    font-family: var(--headers);
}

.manage-header-2{
    font-size: 2.5rem;
    font-family: var(--headers);
}

.book-list{
    max-height: 600px;
    overflow-y: scroll;
}

.btn-add{
    border: var(--btn-border-1);
    color: var(--txt-color);
    background-color: var(--btn-color);
    font-family: var(--txt);
    font-size: 1.5rem;
    padding: 5px;
    text-decoration: none;
}

.btn-add:hover{
    border: var(--btn-border-2);
    color: var(--txt-color);
}

/* Shopping Cart */

.btn-keep-shopping{
    border: var(--btn-border-2);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: var(--txt);
    padding: 5px;
    font-size: 2rem;

}

.cart-txt,
.cart-headers,
.cart-header-2,
.cart-txt-price,
.cart-totals,
.cart-grand-total,
.cart-header{
    font-family: var(--txt);
    color: #000;
}

.cart-header{
    font-size: 2rem;
}

.cart-txt{
    text-align: center;
}

.cart-txt-price{
    text-align: center;
}

.cart-headers{
    font-size: 1.5rem;
}

.cart-header-2{
 font-size: 1.1rem;
}

.cart-totals{
    font-size: 1.5rem;
}

.cart-grand-total{
    font-size: 1.75rem;
}
/*check out */

.thank-you-txt{
    font-family: var(--txt);
    color: #000;
}


.thank-you-box{
    max-width: 600px;
}

.thank-you-txt{
    font-size: 1rem;
    text-align: center;
}

.thank-you-order{
    font-size: 1.2rem;
}

.checkout-img{
    height: 140px;
    width: 100px;
}

.checkout-txt{
    font-size: 1rem;
    text-align: left;
}

/* About & Contact */

.btn-send{
    border: var(--btn-border-2);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: var(--txt);
    padding: 5px 10px;
    font-size: 1.5rem;
}

.btn-send:hover{
    border: var(--btn-border-1);
}

/* Contact/About */

.form-labels{
    font-family: var(--txt);
    font-weight: 300;
    font-size: 1rem;
}

.about-txt{
    font-family: var(--txt);
    font-size: 1.15rem;
}

/* toast view */

.toast-img{
    max-height: 6rem;
}


.message-container {
    position: fixed;
    top: 50px;
    right: 5px;
    z-index: 99999999999;
    max-width: 280px;
}

.toast-item-list{
    max-height: 350px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-header{
    font-size: 1.2rem;
    padding: 0px;
    margin: 0;
}

.toast-header-2{
    font-size: 1rem;
    padding: 2px;
    margin: 0;
}

.toast-header,
.toast-header-2,
.toast-txt,
.toast-top-txt{   
    font-family: var(--txt);
    color: var(--txt-color);
}

.toast-bg{
    background-color: var(--bg-color);
}

.toast-txt{
    font-size: .9rem;
    padding: 0;
    margin: 0;
}

.toast-top-txt{
    font-size: 1.2rem;
}

.toast-top-success{
    color: var(--txt-color);
}


/* Accounts */
.account-login{
    font-family: var(--headers);
    font-weight: 800;
    font-size: 3rem;
}

.login, .sign-up{
    background-color: var(--bg-color);
}

.login-txt, .login{
    font-size: 1.2rem;
}

.sign-up{
    font-size: 1rem;
}

.login-txt, .login, .sign-up{
    font-family: var(--txt);
    color: var(--txt-color);
    
}

.btn-account, .btn-sign-up:hover{
    border: #ff0000 ridge 3px ;
    font-family: var(--account-txt);
    font-weight: 600;
    font-size: 1.15rem;
    background-color: #8f8888;
    color: var(--txt-color);

}

.btn-sign-up, .btn-account:hover{
    border: #001aff ridge 3px ;
    font-family: var(--txt);
    font-weight: 600;
    font-size: 1.15rem;
    color: var(--txt-color);
    background-color: #8f8888;
    text-decoration: none;
}

/* profile */

.update-details{
    max-width: 500px;
}

.update-header{
    font-family: var(--txt);
    font-size: 1.15rem;
    color: var(--txt-color);
}

.update-txt{
    font-family: var(--txt);
    font-size: 1rem;
    color: var(--txt-color);
    text-align: left;
}

.update-btn{
    border: var(--btn-border-1);
    font-family: var(--txt);
    color: var(--txt-color);
    background-color: var(--btn-color);
    max-width: fit-content;
    padding: 5px 10px;
}

.update-btn:hover{
    border: var(--btn-border-2);
}

.order-table{
    max-width: 850px;
}

/* Media queries*/

@media (min-width: 600px) {
    .login{
        width: 400px;
    }

    .email-Verify  {
        width: 600px;
    }
}

@media (min-width: 767px) and (min-height:800px){
    .side-nav{
        width: 11rem;
        position: fixed;
    }

    .sign-up{
        width:600px;
    }

    .single-img{
        width: auto;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .side-nav{
        margin-top: 1rem;
    }
}

@media (min-width: 1400px) {
    .side-nav{
        margin-top: 3rem;        
    }
}

