@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Yatra+One&family=Zilla+Slab&display=swap');

:root{

    /* Fonts */
    --logo:'Shadows Into Light', serif;
    --nav: 'Zilla Slab', serif;
    --delivery: 'Yatra One', serif;
    --headers: 'Shadows Into Light', serif;
    --txt:'Zilla Slab', serif, arial;


    /* Colours */
    --banners: #000000;
    --banner-txt: #ffffff;
    --nav-hover: #ff0000;
    --nav-bar: #777777;
    --txt-color: #000000;
    --bg-fade: #ffffffc2;
    --side-nav: #ffffff;
    --bg-color: #aaaaaa;;
    --toast-bg: rgba(211, 227, 252, 0.966);
    --btn-color: #8f8888;
    --rating: darkorange;

    /* Button Styling */
    --btn-border-1: #001aff ridge 3px;
    --btn-border-2: #ff0000 ridge 3px ;
    --btn-nav:  #ffffff;
    --sort-btn:#ffffff00;
    --sort-btn-arrow: #ffffff;
    --btn-quantity-shadow: 0px 5px 5px 0px rgba(255, 0, 0, 0.4);
    --btn-quantity-border: 2px solid rgba(255, 0, 0, 0.4);

    /* Box Styling */
    --main-box-shadows: 3px 3px 3px 3px rgba(255, 0, 0, 0.4);
    --sort-items-bax-shadow: 0px 10px 10px 0px rgba(255, 0, 0, 0.4);
}

body{
    background: url(../images/background-image.webp) no-repeat center;
    background-attachment:fixed;
    background-color: var(--bg-color);
}

/* Background transparent screen */

.bg-fade{
    background-color: var(--bg-fade);
}

/* header */

.logo {
    font-family: var(--logo);
    font-size: 2.5rem;
    font-weight: 600;
}

.nav-top{
    position:relative;
}

.nav-bg{
    background-color: var(--nav-bar);
}

.nav-txt{
    color: var(--txt);
    font-family: var(--nav);
    font-size: 1.15rem;
}

.nav-txt:hover{
    color: var(--nav-hover);
}

.nav-btn{
    background-color: var(--btn-nav)
}

.nav-btn:hover{
    background-color: var(--nav-hover);
}

.delivery-banner{
    background-color: var(--banners);
    color: var(--banner-txt);
    font-family: var(--delivery);
    font-size: 1rem;
}

.delivery-text{
    font-size: 1.5rem;

}

.side-nav{
    padding: 1rem;
}

/* footer */

footer{
    background-color: var(--nav-bar);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 2.5rem;
}

footer a{
    padding-top: 10px;
}

footer a:hover{
    background-color: var(--nav-hover);
}

/* Generic */
.line{
    color: var(--txt-color);
}

.headers{
    font-family: var(--headers), sans-serif, Arial;
    font-weight: 600;
    font-size: 4rem;
}

.box-shadow{
    border-radius: 6px;
    box-shadow: var(--main-box-shadows);
}

.qty_input{
    width: 125px;
}

input[name='quantity']:hover {
    box-shadow: var(--btn-quantity-shadow);
    border: var(--btn-quantity-border);
}

.btn-cart{
    border: none;
    text-decoration: none;
}

.btn-cart:hover{
    background-color: var(--nav-hover);
}
.btn-cancel{
    border: var(--btn-border-2);
    background-color: var(--btn-color);
    font-family: var(--txt);
    text-decoration: none;
    color: var(--nav-txt);
    padding: 3px;
}

.btn-cancel:hover{
    border: var(--btn-border-1);
    color: var(--nav-txt);
}
/* home page */

/* Sorting menu */

.sort-btn-arrow{
    border: none;
    text-decoration: none;
}


.sort-btn{
    color: var(--txt-color);
    border: none;
    background-color: var(--sort-btn);
    text-decoration: none;
}

.sort-btn:hover{
    color: var(--nav-hover);
}

.dropsort {
    display: inline-block;
    position: relative;
}

.sort-items {
    display: none;
    position:relative;
    width: 50px;
    background-color: var(--bg-fade);
    overflow: auto;
    border-radius: 6px;
    box-shadow: var(--main-box-shadows)
}
  
.dropsort:hover .sort-items {
    display: block;
}

.sort-items a {
    display: block;
    color: var(--txt-color);
    padding: 2px;
    text-decoration: none;
}

.sort-btn-arrow:hover{
    color: var(--sort-btn-arrow);
    background-color: var(--nav-hover);
}

/* All Products */

.book-bg{
    background-color: var(--bg-color);
}

a.category > span.badge:hover {
    background: var(--nav-bar);
}

.card-img{
    height: 18rem;
    width: 12.5rem;
}

.card-details,
.card-title{
    max-width: 12.5rem;
}

.card-title{
    height: 6rem;
    text-align: center;
    font-family: var(--txt);
    font-size: 1.1rem;
}

.card-details{
    height: 6.5rem;
    font-family: var(--txt);
}

.rating{
    color: darkorange;
    padding-right: 5px;
}

/* Product single view*/
.view-headers,
.view-header-2{
font-family: var(--headers)
}

.view-headers{
    font-weight: 400;
    font-size: 3rem;
}

.view-header-2{
    font-weight: 400;
    font-size: 1.5rem;
}

.view-txt{
    font-size: 1.1rem;
    text-align: left;
    color: var(--txt-color);
    font-family: var(--txt);
}

.accordion-button:enabled{
    background-color: var(--btn-color);
    color: var(--txt-color);
    box-shadow: var(--main-box-shadows);
}

.accordion-button:hover{
    color: var(--nav-hover);
    background-color: var(--banners);
    box-shadow: none;
}


/* Product Form */
.btn-add-update{
    border: var(--btn-border-1);
    background-color: var(--btn-color);
    font-family: var(--txt);
}

.book-form-txt{
    font-family: var(--txt);
    font-size: 1.25rem;
}

.btn-add-update:hover{
    border: var(--btn-border-2);
}

.bg-form{
    background-color: var(--bg-color);
    box-shadow: var(--main-box-shadows);
}

.btn-select {
    position: relative;
    overflow: hidden;
    font-family: var(--txt);
    font-size: 1rem;
}

.btn-select input{
    background-color:var(--bg-fade);
    width: 100%;
    min-height: 100%;
}

.btn-select input:hover{
    box-shadow: var(--btn-quantity-shadow);
    border: var(--btn-quantity-border);
}

.edit-header{
    font-size: 2rem;
    font-family: var(--headers);
}

/* Media queries*/

@media (min-width: 600px) {
    .login{
        width: 400px;
    }
    .email-Verify  {
        width: 600px;
    }
}

@media (min-width: 767px) and (min-height:800px){
    .side-nav{
        width: 11rem;
        position: fixed;
    }
    .main-content{
        margin-right: 5px;
    }

    .sign-up{
        width:600px;
    }
}
@media (min-width: 767px){
  
}

@media (min-width: 1020px) {
    .main-content{
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .side-nav{
        margin-top: 1rem;
    }
}

@media (min-width: 1400px) {
    .side-nav{
        margin-top: 3rem;        
    }
}
