{% load static %}
<header class="container-fluid nav-top">
    <div id="topnav" class="row d-none d-md-flex nav-bg">
        <div class="col-12 col-md-4 py-2">
            <a href="{% url 'home' %}" class="nav-link p-0 nav-txt" aria-label="return to home page">
                <h1 class="logo">Ruby's</h1>
            </a>
        </div>
        <div class="col-12 col-md-4 mt-1 pt-2">
            <form method="GET" action="">
                <div class="input-group">
                    <input class="form-control rounded" type="text" name="q" placeholder="Search our site">
                    <div>
                        <button class="btn nav-txt" type="submit">
                            <span>
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-4 d-md-flex justify-content-end pt-1">
            <ul class="list-inline list-unstyled my-0 d-md-flex gap-md-4">
                <li class="list-inline-item dropdown">
                    <a class="nav-link nav-txt" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="My account">
                        <div class="text-center nav-txt">
                            <div><i class="fas fa-user fa-md"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <ul class="dropdown-menu border-0">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <!--Product management links for admin users-->
                        <a href="{% url 'book_management' %}" class="dropdown-item" aria-label="View Book management">Book Management</a>
                        {% endif %}
                        <!--Profile link-->
                        <a href="{% url 'profile' %}" class="dropdown-item" aria-label="View profile">My Profile</a>
                        <!--Account links-->
                        <li><a href="{% url 'account_logout' %}" class="dropdown-item" aria-label="logout">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_signup' %}" class="dropdown-item" aria-label="sign up">Register</a></li>
                        <li><a href="{% url 'account_login' %}" class="dropdown-item" aria-label="login">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
                <!--Shopping Cart-->
                <li class="list-inline-item">
                    <a class="nav-link" href="{% url 'shopping_cart' %}" aria-label="shopping cart">
                        <div class="text-center nav-txt">
                            <div><i class="fas fa-shopping-bag fa-md"></i></div>
                            <p class="my-0">
                                {% if overal_total %}
                                €{{ overal_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--Delivery Banner Showing Free Delivery Amount-->
    <div class="row delivery-banner w-110 my-0">
        <marquee behavior="scroll" direction="left" scrollamount="5">
            <h1 class="m-0 p-1 delivery-text">Free delivery on orders over €{{ free_delivery }} ----
                Red tag <i class="fa-solid fa-tag fa-beat" style="color: #fa0000;"></i> sale on used books ----
                Free delivery on orders over €{{ free_delivery }} ----
                Red tag <i class="fa-solid fa-tag fa-beat" style="color: #fa0000;"></i> sale on used books ----
                Free delivery on orders over €{{ free_delivery }} ----
                Red tag <i class="fa-solid fa-tag fa-beat" style="color: #fa0000;"></i> sale on used books ----
                Free delivery on orders over €{{ free_delivery }} ----
                Red tag <i class="fa-solid fa-tag fa-beat" style="color: #fa0000;"></i> sale on used books ----
                Free delivery on orders over €{{ free_delivery }}
            </h1>
        </marquee>
    </div>
    <div class="row nav-bg ps-2 my-0">
        <nav class="navbar navbar-expand-lg my-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
                aria-controls="navbarOffcanvasLg">
                <span class="navbar-toggler-icon"></span>
            </button>            
            {% include 'includes/mobile-header.html' %}
            <div class="offcanvas offcanvas-start offcanvas-box-shadow" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
                <div class="offcanvas-header nav-bg">
                    <h1 class="logo">Ruby's</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body py-0 my-0 py-0 nav-bg">
                    <ul class="navbar-nav justify-content-evenly flex-grow-1 gap-2 sticky-top">
                        <!--Nave items-->
                        <li class="nav-item">
                            <a class="nav-link nav-txt" href="{% url 'home' %}" id="home-link" aria-label="Return to home page">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-txt" href="{% url 'books' %}" aria-label="View all books">
                                All Books
                            </a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle nav-txt" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Categories
                            </a>
                            <ul class="dropdown-menu nav-bg box-shadow">
                                <li class="dropdown-item">
                                    <a class="nav-link nav-txt" href="{% url 'books' %}?category=children" id="all-books-link" aria-label="View childrens books">
                                        Childrens
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link nav-txt" href="{% url 'books' %}?category=teen" aria-label="View teen books">
                                        Teen
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link nav-txt" href="{% url 'books' %}?category=adult" aria-label="View adult books">
                                        Adult
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link nav-txt" href="{% url 'books' %}?category=cooking" aria-label="View cooking books">
                                        Cooking
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class=" nav-link nav-txt" href="{% url 'books' %}?category=biographies" aria-label="View biographies books">
                                        Biographies
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class=" nav-link nav-txt" href="{% url 'books' %}?category=technology" aria-label="View technology books">
                                        Technology
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class=" nav-link nav-txt" href="{% url 'books' %}?category=health" aria-label="View health books">
                                        Health
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class=" nav-link nav-txt" href="{% url 'books' %}?category=business" aria-label="View business books">
                                        Business
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class=" nav-link nav-txt" href="{% url 'books' %}?category=home_garden" aria-label="View home and garden books">
                                        Home & Garden
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class=" nav-link nav-txt" href="{% url 'books' %}?category=science" aria-label="View science books">
                                        Science
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class=" nav-link nav-txt" href="{% url 'books' %}?category=history" aria-label="View history books">
                                        History
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class=" nav-link nav-txt" href="{% url 'books' %}?category=music" aria-label="View music books">
                                        Music
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class=" nav-link nav-txt" href="{% url 'books' %}?category=sports" aria-label="View sport books">
                                        Sport
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class=" nav-link nav-txt" href="{% url 'books' %}?category=poetry" aria-label="View poetry books">
                                        Poetry
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-txt" href="{% url 'about' %}" aria-label="View about our company">
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-txt" href="{% url 'contact' %}" aria-label="go to contact us page">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>