<div class="container p-0 pt-2  m-0 mt-2">
    <!-- searches through books rendering each one individually -->
        {% for book in books %}
        <div class="col-12 py-1">
                <div class="row text-center px-2">
                    <p class="mobile-view-header">{{ book.title }} {%if book.condition == 'used'%}<i class="fa-solid fa-tag fa-beat" style="color: #fa0000;"></i>{%endif%}</p>
                </div>
            <div class="row me-1 pt-2">
                <div class="col">
                    {% if book.image %}
                    <a href="{% url 'book_view' book.id %}" aria-label="View {{ book.title }}">
                        <img class="mob-img-all" src="{{ book.image.url }}" alt="{{ book.title }}">
                    </a>
                    {% else %}
                    <a href="{% url 'book_view' book.id %}" aria-label="View {{ book.title }}">
                        <img class="mob-img-all mb-4 pb-3" src="{{ MEDIA_URL }}no-image.png" alt="{{ book.title }}">
                    </a>
                    {% endif %}
                </div>
                <div class="col">
                    <a class="mobile-view-txt" href="{% url 'book_view' book.id %}" aria-label="View {{ book.title }}">
                    <p class="p-0 m-0"><strong>€{{ book.price }}</strong></p>
                    {% if book.category %}
                    <p class="p-0 m-0">{{ book.category.view_name }}</p>
                    {% endif %}
                    {% if book.rating %}
                        <p class="p-0 m-0"><i class="fas fa-star mr-1 rating"></i>{{ book.rating }} / 5</p>
                    {% else %}
                        <p class="p-0 m-0">No Rating</p>
                    {% endif %}
                    </a>
                    <a class="mobile-view-txt" href="{% url 'shopping_cart' %}" aria-label="View shopping cart">
                        <i class="fas fa-shopping-bag fa-md"></i>
                    </a>
                </div>
                {% if request.user.is_superuser %}
                <div class="col-12 d-flex justify-content-evenly">
                    <small>
                    <!--edit button-->
                    <a href="{% url 'edit_book' book.id %}" aria-label="Edit {{ book.title }}">Edit</a> |
                        <!--delete button-->
                    <a class="text-danger" href="{% url 'book_delete' book.id %}"
                            aria-label="Delete {{ book.title }}">Delete</a>
                    </small>
                </div>
                {% endif %}
            </div>
        <hr>
        {% endfor %}
</div>
            