<div class="container-fluid p-4 mt-2">
    <!-- searches through books rendering each one individually -->
    {% for book in books %}
    <div class="col-12 py-1 my-3 book-bg box-shadow">
        <div class="row text-center ">
            <p class="mobile-view-header mt-2">{{ book.title }} {%if book.condition == 'used'%}<i
                    class="fa-solid fa-tag fa-beat" style="color: #fa0000;"></i>{%endif%}</p>
        </div>
        <div class="row">
            <div class="col-5 text-center">
                {% if book.image %}
                <a href="{% url 'book_view' book.id %}" aria-label="View {{ book.title }}">
                    <img class="mob-img-all" src="{{ book.image.url }}" alt="{{ book.title }}">
                </a>
                {% else %}
                <a href="{% url 'book_view' book.id %}" aria-label="View {{ book.title }}">
                    <img class="mob-img-all mb-4 pb-3" src="{{ MEDIA_URL }}no-image.png" alt="{{ book.title }}">
                </a>
                {% endif %}
            </div>
            <div class="col-3 text-center">
                <a class="mobile-view-txt" href="{% url 'book_view' book.id %}" aria-label="View {{ book.title }}">
                    <p class="pt-2"><strong>€{{ book.price }}</strong></p>
                    {% if book.category %}
                    <p class="pt-4">{{ book.category.view_name }}</p>
                    {% endif %}
                </a>
            </div>
            <div class="col-3 text-center">
                {% if book.rating %}
                <p class="pt-2 mobile-view-txt"><i class="fas fa-star fa-sm rating"></i>{{ book.rating }} / 5</p>
                {% else %}
                <p class="pt-2">No Rating</p>
                {% endif %}
                <a class="mobile-view-txt " href="{% url 'shopping_cart' %}" aria-label="View shopping cart">
                    <i class="fas fa-shopping-bag fa-md pt-4"></i>
                </a>
            </div>
            {% if request.user.is_superuser %}
            <div class="col-12 d-flex justify-content-evenly">
                <small>
                    <!--edit button-->
                    <a href="{% url 'edit_book' book.id %}" aria-label="Edit {{ book.title }}">Edit</a> |
                    <!--delete button-->
                    <a class="text-danger" href="{% url 'book_delete' book.id %}"
                        aria-label="Delete {{ book.title }}">Delete</a>
                </small>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    {% endfor %}
</div>