{% extends 'base.html' %}
{% load static %}
{% block title %}Thank you{% endblock %}

{% block content %}
<div class="container offset-md-1">
    <div class="container bg-fade py-5 my-5">
        <h1 class="headers text-center pt-2">About Us</h1>
        <div class="text-center  my-sm-3 mx-sm-5 py-sm-3 px-sm-5">
            <p class="about-txt mb-0 pb-1">
                <strong>Thank You</strong> for your enquirey
            </p>
            <br>
            <p class="about-txt mb-0 pb-1">
                We will be in touch shortly 
                Ruby's online bookshop is commited to provide a great service, 
                and we value our customers and will endevour to help quickly and efficiently
            </p>
        </div>
    </div>
</div>

{% endblock %}